## Smoking Cessation Study

In [1]:
import numpy as np                                      #standard imports
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import savReaderWriter as srw                           #Python package for reading SPSS .sav files
import seaborn as sb
import datetime as dt

## Read the manually generated enrollment data with censoring flags

In [2]:
subs = pd.read_csv('../enrolled_with_flags.csv',parse_dates=['term','withdrew','susp','intake','fcr'])
print(subs.shape)
subs.dtypes

(406, 12)

isg_no                 float64
intake          datetime64[ns]
fcr             datetime64[ns]
hours_to_fcr           float64
term            datetime64[ns]
withdrew        datetime64[ns]
susp            datetime64[ns]
days                   float64
cp_3                   float64
react                  float64
flag                   float64
event                  float64
dtype: object

### Compute the time for the end of suspension, if the subject was reinstated

In [3]:
subs['end_susp'] = subs['susp'] + pd.TimedeltaIndex(subs['days'], unit='D')
subs.dtypes

isg_no                 float64
intake          datetime64[ns]
fcr             datetime64[ns]
hours_to_fcr           float64
term            datetime64[ns]
withdrew        datetime64[ns]
susp            datetime64[ns]
days                   float64
cp_3                   float64
react                  float64
flag                   float64
event                  float64
end_susp        datetime64[ns]
dtype: object

### Compute the time subject would be censored out after 87 days if they had not reported a first cigarette

In [4]:
subs['day87'] = subs['intake'] + + dt.timedelta(days=87)

subs.dtypes

isg_no                 float64
intake          datetime64[ns]
fcr             datetime64[ns]
hours_to_fcr           float64
term            datetime64[ns]
withdrew        datetime64[ns]
susp            datetime64[ns]
days                   float64
cp_3                   float64
react                  float64
flag                   float64
event                  float64
end_susp        datetime64[ns]
day87           datetime64[ns]
dtype: object

### Compute the time to event or censoring as the earliest of the following times:

1.  The time the first cigarette was reported - event at this time
2.  The time the subject withdrew - censored out at this time if first cigarette not reported
3.  The time the subject was terminated - censored out at this time if first cigarette not reported
4.  87 days after intake - subject censored out without reporting a first cigarette

Note: Per Beau, subjects who are reinstated, terminated, and report a first cigarette on the same day can be included.  These were treated as if the suspension didn't happen and the subject reported a first cigarette and was terminated on the same day.

In [5]:
subs['event_time'] = subs[['fcr','day87','term','withdrew']].min(axis=1)

### Compute the difference between intake and event or censoring in hours

In [6]:
subs['hours_to_event'] =((subs.event_time-subs.intake).astype('timedelta64[s]')/3600.0)

In [7]:
subs

,isg_no,intake,fcr,hours_to_fcr,term,withdrew,susp,days,cp_3,react,flag,event,end_susp,day87,event_time,hours_to_event
0,10587.0,2010-09-27 12:11:00,2010-09-28 13:48:00,25.616667,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2010-12-23 12:11:00,2010-09-28 13:48:00,25.616667
1,10636.0,2010-10-07 11:38:36,2010-10-08 13:34:59,25.939722,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-01-02 11:38:36,2010-10-08 13:34:59,25.939722
2,10657.0,2010-10-21 10:04:59,2010-10-21 13:04:00,2.983611,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-01-16 10:04:59,2010-10-21 13:04:00,2.983611
3,10664.0,2010-10-22 13:27:39,NaT,NaN,NaT,NaT,NaT,NaN,1.0,NaN,1.0,0.0,NaT,2011-01-17 13:27:39,2011-01-17 13:27:39,2088.000000
4,10671.0,2010-10-22 14:34:21,2010-10-27 09:19:00,114.744167,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-01-17 14:34:21,2010-10-27 09:19:00,114.744167
5,10678.0,2010-10-25 11:51:46,2010-11-25 21:10:00,754.303889,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-01-20 11:51:46,2010-11-25 21:10:00,753.303889
6,10685.0,2010-10-25 13:24:33,NaT,NaN,NaT,NaT,NaT,NaN,1.0,NaN,1.0,0.0,NaT,2011-01-20 13:24:33,2011-01-20 13:24:33,2088.000000
7,10706.0,2010-10-27 17:42:20,2010-10-27 21:14:00,3.527778,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-01-22 17:42:20,2010-10-27 21:14:00,3.527778
8,10755.0,2010-11-08 10:03:40,2010-11-08 18:57:00,8.888889,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-02-03 10:03:40,2010-11-08 18:57:00,8.888889
9,10769.0,2010-11-12 12:32:08,2010-12-07 20:49:00,608.281111,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-02-07 12:32:08,2010-12-07 20:49:00,608.281111
10,10804.0,2010-11-16 13:11:22,2010-11-25 14:36:00,217.410556,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-02-11 13:11:22,2010-11-25 14:36:00,217.410556
11,10811.0,2010-11-17 13:57:25,2010-11-18 10:48:00,20.843056,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-02-12 13:57:25,2010-11-18 10:48:00,20.843056
12,10881.0,2010-12-03 16:16:55,2010-12-05 18:28:00,50.184722,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-02-28 16:16:55,2010-12-05 18:28:00,50.184722
13,10888.0,2010-12-06 11:02:48,2010-12-06 15:21:00,4.303333,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-03-03 11:02:48,2010-12-06 15:21:00,4.303333
14,10930.0,2010-12-14 13:13:59,2010-12-16 20:43:00,55.483611,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-03-11 13:13:59,2010-12-16 20:43:00,55.483611
15,10958.0,2010-12-29 12:51:02,2011-02-07 18:02:00,965.182778,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-03-26 12:51:02,2011-02-07 18:02:00,965.182778
16,10972.0,2011-01-05 11:11:01,2011-01-07 10:08:00,46.949722,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-02 11:11:01,2011-01-07 10:08:00,46.949722
17,10979.0,2011-01-05 13:45:57,2011-01-06 18:04:59,28.317222,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-02 13:45:57,2011-01-06 18:04:59,28.317222
18,10986.0,2011-01-05 15:29:49,2011-01-08 22:46:00,79.269722,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-02 15:29:49,2011-01-08 22:46:00,79.269722
19,11028.0,2011-01-14 15:36:51,2011-01-14 18:25:00,2.802500,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-11 15:36:51,2011-01-14 18:25:00,2.802500
20,11035.0,2011-01-19 13:44:44,2011-01-19 17:53:00,4.137778,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-16 13:44:44,2011-01-19 17:53:00,4.137778
21,11042.0,2011-01-19 14:52:13,2011-01-20 12:35:59,21.729444,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-16 14:52:13,2011-01-20 12:35:59,21.729444
22,11077.0,2011-01-31 13:28:54,2011-02-15 11:31:00,358.035000,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-28 13:28:54,2011-02-15 11:31:00,358.035000
23,11084.0,2011-01-31 15:25:23,2011-02-01 20:05:59,28.676667,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-04-28 15:25:23,2011-02-01 20:05:59,28.676667
24,11112.0,2011-02-04 14:41:21,2011-02-05 15:31:00,24.827500,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-02 14:41:21,2011-02-05 15:31:00,24.827500
25,11154.0,2011-02-11 15:59:49,2011-02-16 21:52:00,125.869722,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-09 15:59:49,2011-02-16 21:52:00,125.869722
26,11168.0,2011-02-17 12:48:23,2011-03-13 12:31:00,574.710278,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-15 12:48:23,2011-03-13 12:31:00,575.710278
27,11175.0,2011-02-18 15:06:08,2011-02-18 17:20:59,2.247500,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-16 15:06:08,2011-02-18 17:20:59,2.247500
28,11203.0,2011-02-23 11:10:32,2011-03-03 17:02:00,197.857778,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-21 11:10:32,2011-03-03 17:02:00,197.857778
29,11210.0,2011-02-23 13:44:37,2011-02-23 20:06:59,6.372778,NaT,NaT,NaT,NaN,1.0,NaN,0.0,1.0,NaT,2011-05-21 13:44:37,2011-02-23 20:06:59,6.372778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,12379.0,2011-11-01 16:37:17,2011-11-08 19:04:59,171.461667,2011-12-06,NaT,2011-11-09,5.0,0.0,1.0,0.0,1.0,2011-11-14,2012-01-27 16:37:17,2011-11-08 19:04:59,170.461667
377,12393.0,2011-11-04 13:38:43,2011-11-04 23:33:00,9.904722,2011-12-19,NaT,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-01-30 13:38:43,2011-11-04 23:33:00,9.904722
378,12400.0,2011-11-06 23:29:53,NaT,NaN,2011-11-14,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-02-01 23:29:53,2011-11-14 00:00:00,168.501944
379,12428.0,2011-11-14 11:36:33,2011-11-14 17:19:59,5.723889,2011-11-20,2011-11-20,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-02-09 11:36:33,2011-11-14 17:19:59,5.723889
380,12540.0,2011-12-01 12:11:02,NaT,NaN,2011-12-13,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-02-26 12:11:02,2011-12-13 00:00:00,275.816111
381,12610.0,2011-12-15 11:52:45,NaT,NaN,2011-12-20,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-03-11 11:52:45,2011-12-20 00:00:00,108.120833
382,12638.0,2012-01-10 13:59:50,NaT,NaN,2012-02-06,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-04-06 13:59:50,2012-02-06 00:00:00,634.002778
383,12659.0,2012-01-13 13:19:59,NaT,NaN,2012-01-16,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-04-09 13:19:59,2012-01-16 00:00:00,58.666944
384,12666.0,2012-01-17 16:31:40,NaT,NaN,2012-01-19,2013-01-27,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-04-13 16:31:40,2012-01-19 00:00:00,31.472222
385,12673.0,2012-01-18 12:56:55,2012-01-24 22:28:59,153.534444,2012-02-02,2012-02-06,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-04-14 12:56:55,2012-01-24 22:28:59,153.534444
386,12729.0,2012-02-01 11:17:30,NaT,NaN,2012-02-23,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-04-28 11:17:30,2012-02-23 00:00:00,516.708333
387,12792.0,2012-02-13 13:10:05,2012-02-13 16:04:00,2.898611,2012-02-29,2012-02-29,2012-02-21,8.0,0.0,0.0,0.0,1.0,2012-02-29,2012-05-10 13:10:05,2012-02-13 16:04:00,2.898611
388,12827.0,2012-03-07 18:07:35,2012-03-20 17:45:00,310.623611,2012-03-26,2012-03-26,2012-03-12,7.0,0.0,1.0,0.0,1.0,2012-03-19,2012-06-02 18:07:35,2012-03-20 17:45:00,311.623611
389,12897.0,2012-03-21 10:44:27,NaT,NaN,2012-04-02,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-06-16 10:44:27,2012-04-02 00:00:00,277.259167
390,12904.0,2012-03-21 16:17:04,NaT,NaN,2012-03-22,2012-03-23,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-06-16 16:17:04,2012-03-22 00:00:00,7.715556
391,13009.0,2012-04-19 13:00:30,NaT,NaN,2012-04-22,2012-06-06,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-07-15 13:00:30,2012-04-22 00:00:00,58.991667
392,13023.0,2012-04-26 12:01:17,NaT,NaN,2012-04-22,2012-04-26,NaT,NaN,0.0,NaN,NaN,NaN,NaT,2012-07-22 12:01:17,2012-04-22 00:00:00,-108.021389
393,13030.0,2012-04-30 13:53:53,2012-05-01 18:30:00,28.601944,2012-05-16,2012-05-16,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-07-26 13:53:53,2012-05-01 18:30:00,28.601944
394,13044.0,2012-05-03 19:06:05,2012-05-10 17:46:00,166.665278,2012-06-29,2012-07-30,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-07-29 19:06:05,2012-05-10 17:46:00,166.665278
395,13268.0,2012-06-28 12:01:00,NaT,NaN,2012-07-08,2012-07-30,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-09-23 12:01:00,2012-07-08 00:00:00,227.983333
396,13359.0,2012-07-27 17:02:03,2012-07-31 18:41:00,97.649167,2012-08-28,2012-09-16,2012-07-27,4.0,0.0,1.0,0.0,1.0,2012-07-31,2012-10-22 17:02:03,2012-07-31 18:41:00,97.649167
397,13380.0,2012-08-07 13:53:51,NaT,NaN,2012-08-22,NaT,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2012-11-02 13:53:51,2012-08-22 00:00:00,346.102500
398,13401.0,2012-08-15 09:06:38,2012-08-18 13:39:00,76.539444,2012-09-03,NaT,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-11-10 09:06:38,2012-08-18 13:39:00,76.539444
399,13457.0,2012-09-05 13:32:53,2012-09-07 14:00:00,48.451944,2012-09-16,NaT,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-12-01 13:32:53,2012-09-07 14:00:00,48.451944
400,13562.0,2012-09-27 10:50:31,2012-09-27 13:38:00,2.791389,2012-10-24,2012-10-24,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2012-12-23 10:50:31,2012-09-27 13:38:00,2.791389
401,13597.0,2012-10-17 11:34:32,NaT,NaN,2012-10-23,2012-10-23,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2013-01-12 11:34:32,2012-10-23 00:00:00,132.424444
402,13667.0,2012-10-25 11:04:02,NaT,NaN,2012-10-31,2013-10-31,NaT,NaN,0.0,NaN,1.0,0.0,NaT,2013-01-20 11:04:02,2012-10-31 00:00:00,132.932778
403,13793.0,2012-11-28 14:45:22,NaT,NaN,2012-11-28,2012-11-28,NaT,NaN,0.0,NaN,NaN,NaN,NaT,2013-02-23 14:45:22,2012-11-28 00:00:00,-14.756111
404,13807.0,2012-12-06 13:24:53,2012-12-08 15:53:00,50.468611,2012-12-09,2012-12-09,NaT,NaN,0.0,NaN,0.0,1.0,NaT,2013-03-03 13:24:53,2012-12-08 15:53:00,50.468611
405,NaN,NaT,NaT,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,1.0,NaT,NaT,NaT,NaN

### Exclude subjects manually marked for exclusion because of data issues or dropping out on the first day

In [8]:
subs['no_flag'] = subs.flag.isnull()

In [9]:
subs_included = subs.loc[subs['no_flag'] == False]
print(subs_included.shape)

(394, 17)

### Create a dataframe with only the columns needed as input for the Cox regression:

1. Identifying number (isg_number)
2. Time to event or censoring in hours
3. Flag indicating event or censor

In [10]:
cox_input = subs_included[['isg_no','event','hours_to_event']]
cox_input

      isg_no  event  hours_to_event
0    10587.0    1.0       25.616667
1    10636.0    1.0       25.939722
2    10657.0    1.0        2.983611
3    10664.0    0.0     2088.000000
4    10671.0    1.0      114.744167
5    10678.0    1.0      753.303889
6    10685.0    0.0     2088.000000
7    10706.0    1.0        3.527778
8    10755.0    1.0        8.888889
9    10769.0    1.0      608.281111
10   10804.0    1.0      217.410556
11   10811.0    1.0       20.843056
12   10881.0    1.0       50.184722
13   10888.0    1.0        4.303333
14   10930.0    1.0       55.483611
15   10958.0    1.0      965.182778
16   10972.0    1.0       46.949722
17   10979.0    1.0       28.317222
18   10986.0    1.0       79.269722
19   11028.0    1.0        2.802500
20   11035.0    1.0        4.137778
21   11042.0    1.0       21.729444
22   11077.0    1.0      358.035000
23   11084.0    1.0       28.676667
24   11112.0    1.0       24.827500
25   11154.0    1.0      125.869722
26   11168.0    1.0      575.710278
27   11175.0    1.0        2.247500
28   11203.0    1.0      197.857778
29   11210.0    1.0        6.372778
..       ...    ...             ...
373  12309.0    1.0       50.091944
374  12316.0    1.0       52.601389
375  12358.0    1.0       43.587222
376  12379.0    1.0      170.461667
377  12393.0    1.0        9.904722
378  12400.0    0.0      168.501944
379  12428.0    1.0        5.723889
380  12540.0    0.0      275.816111
381  12610.0    0.0      108.120833
382  12638.0    0.0      634.002778
383  12659.0    0.0       58.666944
384  12666.0    0.0       31.472222
385  12673.0    1.0      153.534444
386  12729.0    0.0      516.708333
387  12792.0    1.0        2.898611
388  12827.0    1.0      311.623611
389  12897.0    0.0      277.259167
390  12904.0    0.0        7.715556
391  13009.0    0.0       58.991667
393  13030.0    1.0       28.601944
394  13044.0    1.0      166.665278
395  13268.0    0.0      227.983333
396  13359.0    1.0       97.649167
397  13380.0    0.0      346.102500
398  13401.0    1.0       76.539444
399  13457.0    1.0       48.451944
400  13562.0    1.0        2.791389
401  13597.0    0.0      132.424444
402  13667.0    0.0      132.932778
404  13807.0    1.0       50.468611

[394 rows x 3 columns]

## Read the long merged dataset

In [11]:
savFileName = "../SEMIII_isg_long_merged_de_id'd_1.sav"      #March 21 2017 download

## Read data dictionary from .sav file and list keys

In [12]:
with srw.SavHeaderReader(savFileName) as header:       #Read the .sav file metadata
    dd = header.dataDictionary()                       #get a list of the metadata elements
dd.keys()

['valueLabels',
 'varTypes',
 'varSets',
 'varAttributes',
 'varRoles',
 'measureLevels',
 'caseWeightVar',
 'varNames',
 'varLabels',
 'formats',
 'multRespDefs',
 'columnWidths',
 'fileAttributes',
 'alignments',
 'fileLabel',
 'missingValues']

### List the SPSS variable names

In [13]:
dd['varNames']

['isg_no',
 'CalledNumber',
 'CreationDate',
 'OriginalCalloutTime',
 'CallDate',
 'chartreview_a1_012',
 'discharge_equals_1stcall',
 'chartreview_a1_012a',
 'Note',
 'intakesurvey',
 'intakesurveyoutoforder',
 'intakesurveymissing',
 'eodsurvey',
 'firstcigarettereported',
 'firstcigarettesurvey',
 'extracall',
 'isgmalfunction',
 'suspended',
 'CallDayNumber',
 'CallType',
 'CalloutTime',
 'CallResultTypeID',
 'CallResult',
 'recodedcallresult',
 'Attempts',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V98',
 'V99',
 'V100',
 'V101',
 'V102',
 'V103',
 'V104',
 'V105',
 'V106',
 'V107',
 'V108',
 'V109',
 'V110',
 'V111',
 'V112',
 'V113',
 'V114',
 'V115',
 'V116',
 'subject_id',
 'locator_e_01',
 'locator_f_01',
 'subject_idnum',
 'baseline_isgnumber',
 'baseline_a1_001',
 'baseline_a1_002',
 'baseline_a1_003',
 'baseline_a1_004',
 'baseline_a1_005',
 'baseline_a1_006___1',
 'baseline_a2_001',
 'baseline_a2_002',
 'baseline_a2_003',
 'baseline_a2_004',
 'baseline_a2_005',
 'baseline_a2_006',
 'baseline_a2_007',
 'baseline_a2_008',
 'baseline_a2_009',
 'baseline_a2_010',
 'baseline_a2_011',
 'baseline_a2_013',
 'baseline_a2_012',
 'baseline_a2_014',
 'baseline_a2_015',
 'baseline_a3_001',
 'baseline_b1_001',
 'baseline_b1_002',
 'baseline_b1_003',
 'baseline_b1_004',
 'baseline_b2_001',
 'baseline_b2_002',
 'baseline_b2_003',
 'baseline_b2_004',
 'baseline_b2_005',
 'baseline_b2_006',
 'baseline_b2_007',
 'baseline_b2_008',
 'baseline_c1_001',
 'baseline_c1_002',
 'baseline_c1_003',
 'baseline_c1_004',
 'baseline_c2_001',
 'baseline_c2_002',
 'baseline_c2_003',
 'baseline_c2_004',
 'baseline_c2_005',
 'baseline_c2_006',
 'baseline_c2_007',
 'baseline_c2_008',
 'baseline_d1_001',
 'baseline_d1_002',
 'baseline_d1_003',
 'baseline_d1_004',
 'baseline_d2_001',
 'baseline_d2_002',
 'baseline_d2_003',
 'baseline_d2_004',
 'baseline_d2_005',
 'baseline_d2_006',
 'baseline_d2_007',
 'baseline_d2_008',
 'baseline_e1_002',
 'baseline_e1_003',
 'baseline_e1_004',
 'baseline_e1_005',
 'baseline_e1_006',
 'baseline_e1_007',
 'baseline_e1_008',
 'baseline_e1_009',
 'baseline_e1_010',
 'baseline_e1_011',
 'baseline_e2_001',
 'baseline_e2_002',
 'baseline_e2_003',
 'baseline_e2_004',
 'baseline_f1_001',
 'baseline_f1_002',
 'baseline_f1_003',
 'baseline_f1_004',
 'baseline_f1_005',
 'baseline_f1_006',
 'baseline_f1_007',
 'baseline_f1_008',
 'baseline_f2_001',
 'baseline_f2_002',
 'baseline_f2_003',
 'baseline_f2_004',
 'baseline_f2_005',
 'baseline_f2_006',
 'baseline_f2_007',
 'baseline_f2_008',
 'baseline_g1_001',
 'baseline_g1_002',
 'baseline_g1_003',
 'baseline_g1_004',
 'baseline_g1_005',
 'baseline_h1_001',
 'baseline_h1_002',
 'baseline_h1_003',
 'baseline_i1_001',
 'baseline_i1_002',
 'baseline_i1_003',
 'baseline_i1_004',
 'baseline_i1_005',
 'baseline_i1_006',
 'baseline_j1_001',
 'baseline_j1_002',
 'baseline_j1_002a',
 'baseline_j1_003',
 'baseline_j1_004',
 'baseline_j1_005',
 'baseline_j1_006',
 'baseline_j1_007',
 'baseline_j1_008',
 'baseline_j1_009',
 'baseline_j1_010',
 'baseline_j1_011',
 'baseline_j1_012',
 'baseline_j1_013',
 'baseline_j1_014',
 'baseline_j1_015',
 'baseline_j1_016',
 'baseline_j1_017',
 'baseline_j1_018',
 'baseline_j1_019',
 'baseline_j1_020',
 'baseline_j1_021',
 'baseline_j1_022',
 'baseline_j1_023',
 'baseline_j1_024',
 'baseline_assessment_complete',
 'chartreview_a1_001',
 'chartreview_a1_002',
 'chartreview_a1_003',
 'chartreview_a1_004',
 'chartreview_a1_005',
 'chartreview_a1_006___1',
 'chartreview_a1_006___2',
 'chartreview_a1_006___3',
 'chartreview_a1_006___4',
 'chartreview_a1_006___5',
 'chartreview_a1_006___6',
 'creview_a1_006a',
 'chartreview_a1_007',
 'chartreview_a1_007a',
 'chartreview_a1_008',
 'chartreview_a1_008a',
 'chartreview_a1_009',
 'chartreview_a1_009a',
 'chartreview_a1_010',
 'chartreview_a1_011',
 'chartreview_a1_011a',
 'chartreview_b1_001',
 'chartreview_b1_002',
 'chartreview_b1_003',
 'chartreview_b1_004',
 'chartreview_b1_005',
 'chartreview_b1_006',
 'chartreview_b1_007',
 'chartreview_b1_008',
 'chartreview_b1_009',
 'chartreview_b1_010',
 'chartreview_b1_011',
 'chartreview_b1_012',
 'chartreview_b1_013',
 'chartreview_b1_014',
 'chartreview_c1_001',
 'chartreview_c1_002',
 'chartreview_c1_003',
 'chartreview_c1_005',
 'chartreview_a1_030',
 'chartreview_d1_001',
 'chartreview_e1_001',
 'chartreview_e1_002',
 'chartreview_e1_003',
 'chartreview_e1_004',
 'chartreview_e1_005',
 'chartreview_e1_005a',
 'chartreview_e1_006',
 'chartreview_e1_006a',
 'chartreview_e1_007',
 'chartreview_e1_008',
 'chartreview_e1_009',
 'chartreview_e1_010',
 'chartreview_e1_011',
 'chartreview_e1_012',
 'chartreview_e1_013',
 'chartreview_e1_014',
 'chartreview_e1_015',
 'chartreview_e1_016',
 'chart_review_complete',
 'day28_subjectnumber',
 'day28_date',
 'day28_a001a',
 'day28_a001b',
 'day28_a002',
 'day28_a003',
 'day28_a004',
 'day28_a005',
 'day28_a006',
 'day28_a007',
 'day28_a008',
 'day28_b001',
 'day28_b002',
 'day28_b003',
 'day28_b004',
 'day28_b005',
 'day28_b006',
 'day28_b007',
 'day28_c001',
 'day28_c002',
 'day28_c003',
 'day28_c004',
 'day28_c005',
 'day28_c006',
 'day28_c007',
 'day28_d001',
 'day28_d002',
 'day28_d003',
 'day28_d004',
 'day28_e001',
 'day28_e002',
 'day28_e003',
 'day28_e004',
 'day28_e005',
 'day28_e006',
 'day28_e007',
 'day28_e008',
 'day28_f001',
 'day28_f002',
 'day_28_follow_up_complete',
 'three_month_a001',
 'three_month_a002',
 'three_month_a003',
 'three_month_b001',
 'three_month_b002',
 'three_month_b003',
 'three_month_b004',
 'three_month_b005',
 'three_month_b006',
 'three_month_b007',
 'three_month_c001',
 'three_month_c002',
 'three_month_c003',
 'three_month_c004',
 'three_month_c005',
 'three_month_c006',
 'three_month_c007',
 'three_month_d001',
 'three_month_d002',
 'three_month_d003',
 'three_month_d004',
 'three_month_e001',
 'three_month_e002',
 'three_month_e003',
 'three_month_e004',
 'three_month_e005',
 'three_month_e006',
 'three_month_e007',
 'three_month_e008',
 'three_month_f001',
 'three_month_f002',
 'three_month_follow_up_complete',
 'six_month_a001',
 'six_month_a002',
 'six_month_a003',
 'six_month_b001',
 'six_month_b002',
 'six_month_b003',
 'six_month_b004',
 'six_month_b005',
 'six_month_b006',
 'six_month_b007',
 'six_month_c001',
 'six_month_c002',
 'six_month_c003',
 'six_month_c004',
 'six_month_c005',
 'six_month_c006',
 'six_month_c007',
 'six_month_d001',
 'six_month_d002',
 'six_month_d003',
 'six_month_d004',
 'six_month_e001',
 'six_month_e002',
 'six_month_e003',
 'six_month_e004',
 'six_month_e005',
 'six_month_e006',
 'six_month_e007',
 'six_month_e008',
 'six_month_f001',
 'six_month_f002',
 'six_month_followup_complete',
 'saliva000a',
 'saliva000b',
 'saliva001',
 'saliva002',
 'saliva003',
 'saliva004',
 'saliva005___1',
 'saliva005___2',
 'saliva005___3',
 'saliva005___4',
 'saliva005___5',
 'saliva005___6',
 'saliva005___7',
 'saliva005___9',
 'saliva006',
 'saliva007',
 'saliva007a',
 'saliva008',
 'saliva_testing_complete',
 'status_subj_numb',
 'status_subj_isgnumber',
 'status_enrollment_date',
 'status_calls_per_day',
 'status_start6_switchto1',
 'status_dateswitchedto1',
 'status_subj_suspended',
 'status_suspended_date',
 'status_reactivated',
 'status_days_suspended',
 'status_completed_3_months',
 'status_terminated',
 'status_terminated_date',
 'status_reason_terminated',
 'status_withdrew',
 'status_date_withdrew',
 'status_reason_withdrew',
 'subject_status_form_complete',
 'enrollment_log_id',
 'registry_a1_002',
 'registry_a1_003',
 'registry_a1_004',
 'registry_b1_003',
 'registry_b1_004',
 'registry_b1_005',
 'registry_b1_007',
 'registry_b1_008',
 'registry_b1_008a',
 'registry_b1_009',
 'registry_b1_010',
 'registry_b1_011',
 'registry_b1_011a',
 'eligibility_a1_001',
 'eligibility_a1_002',
 'eligibility_a1_003',
 'eligibility_a1_004',
 'eligibility_a1_005',
 'eligibility_a1_006',
 'eligibility_a1_007',
 'eligibility_a1_008',
 'eligibility_a1_009',
 'eligibility_b1_001',
 'eligibility_b1_002',
 'eligibility_b1_003',
 'eligibility_b1_004',
 'eligibility_b1_005',
 'eligibility_b1_006',
 'eligibility_c1_001',
 'eligibility_c1_002',
 'eligibility_c1_003',
 'eligibility_c1_004',
 'eligibility_c1_005',
 'eligibility_c1_006',
 'eligibility_d1_001',
 'eligibility_d1_002___1',
 'eligibility_d1_002___2',
 'eligibility_d1_002___3',
 'eligibility_d1_002___4',
 'eligibility_d1_002___5',
 'eligibility_d1_002___6',
 'eligibility_d1_002___7',
 'eligibility_d1_002___8',
 'eligibility_d1_002___9',
 'eligibility_d1_002___10',
 'eligibility_d1_003',
 'enrolled',
 'patient_registry_complete',
 'baseline_b1_003b',
 'baseline_c1_003b',
 'baseline_d1_003b',
 'p_sev_1',
 'p_sev_2',
 'p_sev_3',
 'p_intnt',
 'c_intnt',
 'smk_ca',
 'CR_Location_recode']

### List the SPSS variable labels

In [14]:
dd['varLabels']

{'Attempts': '',
 'CR_Location_recode': 'CR Location Recoded',
 'CallDate': '',
 'CallDayNumber': 'Call Day Number',
 'CallResult': '',
 'CallResultTypeID': '',
 'CallType': 'Call Type',
 'CalledNumber': '',
 'CalloutTime': '',
 'CreationDate': '',
 'Note': '',
 'OriginalCalloutTime': '',
 'V100': '79.some other activity?',
 'V101': '80.at home?',
 'V102': '81.at work?',
 'V103': "82.at someone else's home?",
 'V104': '83.a bar or restaurant?',
 'V105': '84.in a car?',
 'V106': '85.outside?',
 'V107': '86.at the hospital?',
 'V108': '87.some other location?',
 'V109': '89.Do you think you smoked because you were coping with stress or some other negative emotion?',
 'V110': '90.Today, I had problems with my health.',
 'V111': '91.Today, I felt like I had a serious illness.',
 'V112': '92.Today, I was afraid when I thought about my health.',
 'V113': '93.My health made me sad today.',
 'V114': '94.Today, my health made me anxious or nervous.',
 'V115': '95.Rate the degree to which you feel smoking was related to the health problems you had today.',
 'V116': '96.sad',
 'V24': '1.Please enter how many cigarettes you have smoked since you woke up this morning.',
 'V25': '2.Are you are actively trying to quit smoking?',
 'V26': '3.I intend to remain a non-smoker today.',
 'V27': '4.I intend to quit smoking today.',
 'V28': '5.I want to smoke a cigarette.',
 'V29': '6.I feel anxious or nervous.',
 'V30': '7.I feel sad.',
 'V31': '8.I feel frustrated or angry.',
 'V32': '9.I feel happy.',
 'V33': '10.I feel hopeless.',
 'V34': '11.I feel stressed.',
 'V35': '12.Today, I had problems with my health.',
 'V36': '13.Today, I felt like I had a serious illness.',
 'V37': '14.Today, I was afraid when I thoutgh about my health.',
 'V38': '15.My health made me feel sad today.',
 'V39': '16.Today, my health made me anxious or nervous.',
 'V40': '17.Rate the degree to which you feel smoking was related to the health problems you had today.',
 'V41': '18.Was this the first time you smoked since you were discharged from the hospital?',
 'V42': '19.I felt anxious or nervous.',
 'V43': '20.I felt sad.',
 'V44': '21.I felt frustrated or angry.',
 'V45': '22.I felt happy.',
 'V46': '23.I felt hopeless.',
 'V47': '24.I felt stressed.',
 'V48': '25.working or doing chores?',
 'V49': '26.relaxing?',
 'V50': '27.on the telephone?',
 'V51': '28.talking or visiting with others?',
 'V52': '29.waiting for something or someone?',
 'V53': '30.doing nothing?',
 'V54': '31.eating food?',
 'V55': '32.drinking coffee or tea?',
 'V56': '33.drinking alcohol?',
 'V57': '34.some other activity?',
 'V58': '35.at home?',
 'V59': '36.at work?',
 'V60': "37.at someone else's home?",
 'V61': '38.a bar or restaurant?',
 'V62': '39.in a car?',
 'V63': '40.outside?',
 'V64': '41.at the hospital?',
 'V65': '42.some other location?',
 'V66': '43.Do you think you smoked because you were coping with stress or some other negative emotion?',
 'V67': '44.I feel sick',
 'V68': '47.Today, I had problems with my health.',
 'V69': '48.Today, I felt like I had a serious illness.',
 'V70': '49.Today, I was afraid when I thoutgh about my health.',
 'V71': '50.My health mad me feel sad today.',
 'V72': '51.Today, my health made me anxious or nervous.',
 'V73': '52.Rate the degree to which you feel smoking was related to the health problems you had today.',
 'V74': '53.Please enter how many cigarettes you have smoked since you woke up this morning.',
 'V75': '54.I intend to remain a non-smoker.',
 'V76': '55.I intend to quit smoking.',
 'V77': '56.I want to smoke a cigarette.',
 'V78': '57.I feel sick.',
 'V79': '58.Anxious or nervous.',
 'V80': '59.Frustrated or angry',
 'V81': '60. Happy',
 'V82': '61.Hopeless.',
 'V83': '62.Stressed.',
 'V84': '63.Was this the first time you smoked since you were discharged from the hospital?',
 'V85': '64.I felt anxious or nervous.',
 'V86': '65.I felt Sad.',
 'V87': '66.Frustrated or angry.',
 'V88': '67.Happy.',
 'V89': '68.Hopeless.',
 'V90': '69.Stressed.',
 'V91': '70.working or doing chores?',
 'V92': '71.relaxing?',
 'V93': '72.on the telephone?',
 'V94': '73.talking or visiting with others?',
 'V95': '74.waiting for something or someone?',
 'V96': '75.doing nothing?',
 'V97': '76.eating food?',
 'V98': '77.drinking coffee or tea?',
 'V99': '78.drinking alcohol?',
 'baseline_a1_001': 'When did your symptoms first start?',
 'baseline_a1_002': 'What symptoms did you have?',
 'baseline_a1_003': 'When did you decide to come to the hospital?',
 'baseline_a1_004': 'What symptoms did you have at that time? ',
 'baseline_a1_005': 'What was the worst point in time during this health experience?',
 'baseline_a1_006___1': 'Check this box if worst time point was around when they first came to the hospital. (choice=Yes)',
 'baseline_a2_001': 'Did your biological father, brother, or son have a heart attack at or before age 45?',
 'baseline_a2_002': 'Did your biological mother, sister, or daughter have a heart attack at or before age 55?',
 'baseline_a2_003': 'Did you use any aspirin in the 7-days before coming to the hospital? ',
 'baseline_a2_004': 'Did you have two or more episodes of chest pain or pressure in the 24 hours before you came into the hospital?',
 'baseline_a2_005': 'In the past two weeks, how often have you felt sad, down, or depressed?',
 'baseline_a2_006': 'In the past two weeks, how often have you felt less pleasure from things you used to enjoy?',
 'baseline_a2_007': 'Chest pain or pressure',
 'baseline_a2_008': 'Sweating, hot flashes',
 'baseline_a2_009': 'Passed out, fainted',
 'baseline_a2_010': 'Weakness',
 'baseline_a2_011': 'Pain or tingling in arms, hands, neck, or jaw',
 'baseline_a2_012': 'Nausea or vomiting',
 'baseline_a2_013': 'Pain or tingling in my back or shoulders',
 'baseline_a2_014': 'Dizziness',
 'baseline_a2_015': 'Difficulty breathing',
 'baseline_a3_001': 'Right now, my urge to smoke is (please circle only one):',
 'baseline_assessment_complete': 'Complete?',
 'baseline_b1_001': 'Something is seriously wrong with me. ',
 'baseline_b1_002': 'I am pretty sick.',
 'baseline_b1_003': 'My illness is something minor.',
 'baseline_b1_003b': 'My illness is something minor (reverse coded).',
 'baseline_b1_004': 'I have a life-threatening illness.',
 'baseline_b2_001': 'Anxious',
 'baseline_b2_002': 'Afraid',
 'baseline_b2_003': 'Frustrated',
 'baseline_b2_004': 'Nervous',
 'baseline_b2_005': 'Sad',
 'baseline_b2_006': 'Hopeless',
 'baseline_b2_007': 'Stressed',
 'baseline_b2_008': 'Angry',
 'baseline_c1_001': 'Something is seriously wrong with me. ',
 'baseline_c1_002': 'I am pretty sick.',
 'baseline_c1_003': 'My illness is something minor.',
 'baseline_c1_003b': 'My illness is something minor (reverse coded).',
 'baseline_c1_004': 'I have a life-threatening illness.',
 'baseline_c2_001': 'Anxious',
 'baseline_c2_002': 'Afraid',
 'baseline_c2_003': 'Frustrated',
 'baseline_c2_004': 'Nervous',
 'baseline_c2_005': 'Sad',
 'baseline_c2_006': 'Hopeless',
 'baseline_c2_007': 'Stressed',
 'baseline_c2_008': 'Angry',
 'baseline_d1_001': 'Something is seriously wrong with me. ',
 'baseline_d1_002': 'I am pretty sick.',
 'baseline_d1_003': 'My illness is something minor.',
 'baseline_d1_003b': 'My illness is something minor (reverse coded).',
 'baseline_d1_004': 'I have a life-threatening illness.',
 'baseline_d2_001': 'Anxious',
 'baseline_d2_002': 'Afraid',
 'baseline_d2_003': 'Frustrated',
 'baseline_d2_004': 'Nervous',
 'baseline_d2_005': 'Sad',
 'baseline_d2_006': 'Hopeless',
 'baseline_d2_007': 'Stressed',
 'baseline_d2_008': 'Angry',
 'baseline_e1_002': 'stress or pressure.',
 'baseline_e1_003': 'not taking my medicines.',
 'baseline_e1_004': 'smoking cigarettes or cigars.',
 'baseline_e1_005': 'my emotional state, like anger, anxiety, or sadness.',
 'baseline_e1_006': 'alcohol use.',
 'baseline_e1_007': 'overwork.',
 'baseline_e1_008': 'a germ or virus.',
 'baseline_e1_009': 'diet or eating habits.',
 'baseline_e1_010': 'genetics or family history.',
 'baseline_e1_011': 'chance or bad luck.',
 'baseline_e2_001': 'My current illness is due to a health problem caused by smoking.',
 'baseline_e2_002': 'Smoking is one of many causes of my health condition.',
 'baseline_e2_003': 'Quitting smoking could improve my health.',
 'baseline_e2_004': 'How do you think smoking is related to your current health problem? (circle one)',
 'baseline_f1_001': 'I intended to apply sun screen lotion whenever I go outside.',
 'baseline_f1_002': 'I was highly motivated to quit smoking.',
 'baseline_f1_003': 'I intended to wear my seatbelts every time I get in the car.',
 'baseline_f1_004': 'I intended to quit smoking sometime within the next 30 days.',
 'baseline_f1_005': 'I intended to lose weight. ',
 'baseline_f1_006': 'I was very excited about quitting smoking.',
 'baseline_f1_007': 'I had decided to quit smoking.',
 'baseline_f1_008': 'I intended to keep smoking.',
 'baseline_f2_001': 'I intended to apply sun screen lotion whenever I go outside.',
 'baseline_f2_002': 'I am highly motivated to quit smoking.',
 'baseline_f2_003': 'I intend to wear my seatbelts every time I get in the car.',
 'baseline_f2_004': 'I intend to quit smoking sometime within the next 30 days.',
 'baseline_f2_005': 'I intend to lose weight. ',
 'baseline_f2_006': 'Im very excited about quitting smoking.',
 'baseline_f2_007': 'I have decided to quit smoking today.',
 'baseline_f2_008': 'I intend to keep smoking.',
 'baseline_g1_001': 'Most people I know smoke.',
 'baseline_g1_002': 'My family has tried to get me to quit smoking.',
 'baseline_g1_003': 'Smoking makes me feel like an outcast.',
 'baseline_g1_004': 'Most people who are important to me think I should stop smoking.',
 'baseline_g1_005': 'My doctor has told me to quit smoking.',
 'baseline_h1_001': 'If I continue smoking, I think my chances of getting heart disease, lung cancer or another serious illness would be:',
 'baseline_h1_002': 'If I stop smoking, I think my chances of getting heart disease, lung cancer or another serious illness would be:',
 'baseline_h1_003': 'If I continue smoking and I get lung cancer or heart disease or another serious illness, Id be mad at myself for not quitting smoking.',
 'baseline_i1_001': 'How many cigarettes do you smoke per day?',
 'baseline_i1_002': 'How many minutes after you wake up in the morning do you usually smoke your first cigarette?',
 'baseline_i1_003': 'About how old were you when you began smoking regularly? ___ ___ years old',
 'baseline_i1_004': 'In the last 6-months, have you gone at least 24 hours without smoking because you were trying to quit?',
 'baseline_i1_005': 'Right now, my urge to smoke is: (circle one)',
 'baseline_i1_006': 'How confident are you that you can quit smoking within the next month?',
 'baseline_isgnumber': 'ISG ID Number',
 'baseline_j1_001': 'High blood pressure',
 'baseline_j1_002': 'Cancer. If yes what type?',
 'baseline_j1_002a': 'Type of cancer',
 'baseline_j1_003': 'Stroke',
 'baseline_j1_004': 'Bronchitis',
 'baseline_j1_005': 'Problems with poor blood circulation in arms or legs',
 'baseline_j1_006': 'Chronic obstructive pulmonary disease (COPD)',
 'baseline_j1_007': 'Congestive heart failure (CHF)',
 'baseline_j1_008': 'Asthma',
 'baseline_j1_009': 'High cholesterol',
 'baseline_j1_010': 'Emphysema',
 'baseline_j1_011': 'Diabetes',
 'baseline_j1_012': 'Pneumonia',
 'baseline_j1_013': 'Depression',
 'baseline_j1_014': 'Manic-depression or bipolar',
 'baseline_j1_015': 'Anxiety or panic attacks',
 'baseline_j1_016': 'Eating Disorder',
 'baseline_j1_017': 'Alcohol or Drug Abuse',
 'baseline_j1_018': 'ADHD or ADD',
 'baseline_j1_019': 'Schizophrenia',
 'baseline_j1_020': 'Any other emotional or behavioral disorder',
 'baseline_j1_021': 'heart disease?',
 'baseline_j1_022': 'a heart attack?',
 'baseline_j1_023': 'heart bypass surgery?',
 'baseline_j1_024': 'angioplasty or a stent (where you have an artery in your heart opened up)?  ',
 'c_intnt': 'Current intentions to quit smoking.',
 'chart_review_complete': 'Complete?',
 'chartreview_a1_001': 'Age:           years',
 'chartreview_a1_002': 'Sex:',
 'chartreview_a1_003': 'Height (in feet and inches):',
 'chartreview_a1_004': 'Weight (in pounds):',
 'chartreview_a1_005': 'Race/ethnicity',
 'chartreview_a1_006___1': 'What type of insurance does the subject have? (check all that apply) (choice=Private (e.g. BlueCross, Aetna))',
 'chartreview_a1_006___2': 'What type of insurance does the subject have? (check all that apply) (choice=Medicare)',
 'chartreview_a1_006___3': 'What type of insurance does the subject have? (check all that apply) (choice=Medicaid)',
 'chartreview_a1_006___4': 'What type of insurance does the subject have? (check all that apply) (choice=Other public, please specify)',
 'chartreview_a1_006___5': 'What type of insurance does the subject have? (check all that apply) (choice=No health insurance)',
 'chartreview_a1_006___6': 'What type of insurance does the subject have? (check all that apply) (choice=Dont know)',
 'chartreview_a1_007': 'Where was the subject enrolled?',
 'chartreview_a1_007a': 'If other, where?',
 'chartreview_a1_008': 'ED triage date:',
 'chartreview_a1_008a': 'ED triage time:',
 'chartreview_a1_009': 'ED discharge/transfer date:',
 'chartreview_a1_009a': 'ED discharge/transfer time:',
 'chartreview_a1_010': 'ED triage code:',
 'chartreview_a1_011': 'If patient went directly to floor/inpatient, what was the date?',
 'chartreview_a1_011a': 'If patient went directly to floor/inpatient, what was the time?',
 'chartreview_a1_012': 'Hospital discharge date:',
 'chartreview_a1_012a': 'Hospital discharge time:',
 'chartreview_a1_030': 'CK MB: ',
 'chartreview_b1_001': 'Age >= 65 years old (TIMI)',
 'chartreview_b1_002': 'At least 3 risk factors for CAD ? see CAD questions',
 'chartreview_b1_003': 'family history (First degree female relative < = 55 yrs, first degree male relative < = 45 years)',
 'chartreview_b1_004': 'hypertension',
 'chartreview_b1_005': 'hypercholesterolemia',
 'chartreview_b1_006': 'diabetes',
 'chartreview_b1_007': 'current smoker',
 'chartreview_b1_008': 'Known coronary artery disease (TIMI)? see CAD questions',
 'chartreview_b1_009': 'Prior MI',
 'chartreview_b1_010': 'Prior CABG',
 'chartreview_b1_011': 'Prior stenting or angioplasty',
 'chartreview_b1_012': 'Severe angina (>= 2 anginal episodes in past 24 hrs) (TIMI) - see CAD questions',
 'chartreview_b1_013': 'Use of aspirin in last 7 days (TIMI) - see CAD questions',
 'chartreview_b1_014': 'ST deviation > = 0.5 mm (TIMI) - see chart; if not in chart, ask MD (**bring chart when ask MD)',
 'chartreview_c1_001': 'Elevated serum cardiac markers? get from chart',
 'chartreview_c1_002': 'Troponin: first:',
 'chartreview_c1_003': 'Troponin: second: ',
 'chartreview_c1_005': 'CK:',
 'chartreview_d1_001': 'Disposition:',
 'chartreview_e1_001': 'Was Stress Test performed?',
 'chartreview_e1_002': 'Was EKG performed?',
 'chartreview_e1_003': 'Was Coronary CTA performed?',
 'chartreview_e1_004': 'Was Cardiac catheterization performed?',
 'chartreview_e1_005': 'Was Percutaneous intervention performed?',
 'chartreview_e1_005a': 'What type of Percutaneous intervention was performed?',
 'chartreview_e1_006': 'Was CABG performed?',
 'chartreview_e1_006a': 'If CABG performed, number of vessels:',
 'chartreview_e1_007': 'Please provide the first ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_008': 'Please provide the second ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_009': 'Please provide the third ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_010': 'Please provide the fourth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_011': 'Please provide the fifth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_012': 'Please provide the sixth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_013': 'Please provide the seventh ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_014': 'Please provide the eigth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_015': 'Please provide the ninth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'chartreview_e1_016': 'Please provide the tenth ICD diagnosis code associated with this healthcare encounter.  Make sure to write in the complete code out to 2 decimal points.',
 'creview_a1_006a': 'Other public, please specify',
 'day28_a001a': '1A.  We are really interested in getting feedback on the cellphone system that we are using to ask you questions. We would really like you opinion on what we could do to make it better. How do you feel about the cell phone system?',
 'day28_a001b': '1B.  If you were able to choose, how many calls would you be willing to receive per day?',
 'day28_a002': '2. Please think back over the last month. On average over the entire month, how many calls were you able to answer per day?',
 'day28_a003': '3. How convenient was the timing of the calls?',
 'day28_a004': '4. How easy was it to understand the questions you were asked during the calls?',
 'day28_a005': '5. Over the last month, were you ever called too early in the morning or too late in the evening?',
 'day28_a006': '6. During this study, you received (insert #) calls per day. If you were to participate again, would you prefer to receive more, less or the same amount of calls?',
 'day28_a007': '7. How much has participation in this study influenced your smoking habits?',
 'day28_a008': '8. If participation has influenced your smoking habits, have you been smoking more or less?',
 'day28_b001': 'Number of cigarettes 1 day from the last time we spoke?',
 'day28_b002': 'Number of cigarettes 2 days from the last time we spoke?',
 'day28_b003': 'Number of cigarettes 3 days from the last time we spoke?',
 'day28_b004': 'Number of cigarettes 4 days from the last time we spoke?',
 'day28_b005': 'Number of cigarettes 5 days from the last time we spoke?',
 'day28_b006': 'Number of cigarettes 6 days from the last time we spoke?',
 'day28_b007': 'Number of cigarettes 7 days from the last time we spoke?',
 'day28_c001': '1. Over the Past 7 days, I would say my health is:',
 'day28_c002': '2. Over the past 7 days, were you limited in the kind of work, or other regular daily activities, you do as a result of your physical health?',
 'day28_c003': '3. Over the past 7 days, did you accomplish less than you would have liked as a result of any emotional problems, such as feeling depressed or anxious?',
 'day28_c004': '4. Over the past 7 days, how much time have you spent thinking about your health?',
 'day28_c005': '5. Over the past 7 days, how much time have you spent worrying about your health?',
 'day28_c006': '6. Over the past 7 days, how much time has your health caused you to be afraid?',
 'day28_c007': '7. Over the past 7 days, how much time have you spent feeling stressed because of your health?',
 'day28_d001': '1. When I first arrived to the hospital, I thought something was seriously wrong with me',
 'day28_d002': '2. When I first arrived to the hospital, I thought I was pretty sick.',
 'day28_d003': '3. When I first arrived to the hospital, my illness was something minor.',

## Make a list of the column names and initialize a dictionary to hold the data

In [15]:
columns=[]                                   #list for column names
datad={}
               
for name in dd['varNames']:                  #varNames are bytes
    colname = name.decode()                  #convert to string
    columns.append(colname)                  #add to list
    datad[colname] = []                      #initialize dictionary for data with empty lists

## Read the data and fill in the dictionary

In [16]:
with srw.SavReader(savFileName) as reader:      #use the savReaderWriter package to read the .sav contents

    for line in reader:                         #loop through the cases
        for i in range(len(columns)):           #store each data value in the data dictionary
            value = line[i]
            datad[columns[i]].append(value)

### Create a data frame from the dictionary

In [17]:
mcdf = pd.DataFrame(datad,columns=columns)      #create a pandas data frame from the data dictionary
print(mcdf.shape)
mcdf.head()                                     #show the first 5 rows

(66760, 511)

,isg_no,CalledNumber,CreationDate,OriginalCalloutTime,CallDate,chartreview_a1_012,discharge_equals_1stcall,chartreview_a1_012a,Note,intakesurvey,...,baseline_b1_003b,baseline_c1_003b,baseline_d1_003b,p_sev_1,p_sev_2,p_sev_3,p_intnt,c_intnt,smk_ca,CR_Location_recode
0,10573.0,4.015235e+09,2010-09-18 08:44:03,2010-09-18 08:43:42,2010-09-18,2010-09-18,1.0,13:59,intake,1.0,...,4.0,2.0,4.0,3.75,3.25,2.75,1.5,5.0,4.5,3.0
1,10573.0,4.015235e+09,2010-09-18 19:31:22,2010-09-18 19:31:00,2010-09-18,None,NaN,,,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10573.0,4.015235e+09,2010-09-18 20:05:29,2010-09-18 20:05:00,2010-09-18,None,NaN,,,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10573.0,4.015235e+09,2010-09-18 20:32:06,2010-09-18 20:32:00,2010-09-18,None,NaN,,,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10573.0,4.015235e+09,2010-09-18 20:56:11,2010-09-18 20:56:00,2010-09-18,None,NaN,,,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Extract the perceived severity Leikert scale variables

In [18]:
persver = mcdf.loc[mcdf['baseline_b1_001'] < 10000][['subject_id','isg_no',
                'baseline_b1_001','baseline_c1_001','baseline_d1_001',
                'baseline_b1_002','baseline_c1_002','baseline_d1_002',
                'baseline_b1_003','baseline_c1_003','baseline_d1_003',
                'baseline_b1_004','baseline_c1_004','baseline_d1_004']]
    
print(persver.shape)
persver.head()

(436, 14)

,subject_id,isg_no,baseline_b1_001,baseline_c1_001,baseline_d1_001,baseline_b1_002,baseline_c1_002,baseline_d1_002,baseline_b1_003,baseline_c1_003,baseline_d1_003,baseline_b1_004,baseline_c1_004,baseline_d1_004
0,522.0,10573.0,5.0,5.0,3.0,5.0,5.0,3.0,2.0,4.0,2.0,1.0,1.0,1.0
89,21.0,10580.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,5.0,3.0,2.0,2.0,3.0
130,22.0,10587.0,5.0,4.0,4.0,1.0,3.0,2.0,3.0,3.0,1.0,4.0,2.0,4.0
357,23.0,10636.0,4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
579,523.0,10643.0,4.0,4.0,2.0,4.0,4.0,2.0,3.0,3.0,4.0,5.0,5.0,4.0

### Replace those pesky 9999.0 values with missing values

In [19]:
persver.replace(9999.0, np.nan,inplace=True)

### Examine the result

In [20]:
persver.describe()

,subject_id,isg_no,baseline_b1_001,baseline_c1_001,baseline_d1_001,baseline_b1_002,baseline_c1_002,baseline_d1_002,baseline_b1_003,baseline_c1_003,baseline_d1_003,baseline_b1_004,baseline_c1_004,baseline_d1_004
count,436.000000,436.000000,431.000000,429.000000,430.000000,431.000000,429.000000,430.000000,431.000000,429.000000,430.000000,431.000000,429.000000,430.000000
mean,361.360092,12641.424312,3.770302,4.174825,3.346512,3.603248,3.969697,3.218605,2.545244,2.142191,2.306977,2.986079,3.475524,3.237209
std,249.621960,6011.769384,1.362504,1.032065,1.378633,1.352994,1.154639,1.351379,1.356181,1.178394,1.237976,1.481605,1.386680,1.423909
min,21.000000,10573.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,129.750000,11418.250000,3.000000,4.000000,2.000000,3.000000,3.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000
50%,239.500000,12256.500000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,2.000000,2.000000,3.000000,4.000000,4.000000
75%,613.250000,13080.750000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,5.000000,4.000000
max,722.000000,99999.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

### Extract the quit intentions Leikert scale variables

In [21]:
quint = mcdf.loc[mcdf['baseline_f1_002'] < 10000][['subject_id','isg_no',
                'baseline_f1_002','baseline_f1_004','baseline_f1_006','baseline_f1_007','baseline_f1_008',
                'baseline_f2_002','baseline_f2_004','baseline_f2_006','baseline_f2_007','baseline_f2_008']]
                
print(quint.shape)
quint.head()

(436, 12)

,subject_id,isg_no,baseline_f1_002,baseline_f1_004,baseline_f1_006,baseline_f1_007,baseline_f1_008,baseline_f2_002,baseline_f2_004,baseline_f2_006,baseline_f2_007,baseline_f2_008
0,522.0,10573.0,2.0,2.0,1.0,1.0,5.0,5.0,5.0,5.0,5.0,1.0
89,21.0,10580.0,3.0,5.0,2.0,4.0,1.0,4.0,4.0,1.0,3.0,1.0
130,22.0,10587.0,2.0,3.0,1.0,1.0,1.0,3.0,3.0,4.0,1.0,5.0
357,23.0,10636.0,4.0,4.0,3.0,4.0,3.0,4.0,4.0,3.0,3.0,3.0
579,523.0,10643.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,4.0,2.0

### Replace those pesky 9999.0 values with missing values

In [22]:
quint.replace(9999.0, np.nan,inplace=True)

### Examine the result

In [23]:
quint.describe()

,subject_id,isg_no,baseline_f1_002,baseline_f1_004,baseline_f1_006,baseline_f1_007,baseline_f1_008,baseline_f2_002,baseline_f2_004,baseline_f2_006,baseline_f2_007,baseline_f2_008
count,436.000000,436.000000,430.000000,430.000000,430.000000,430.000000,430.000000,429.000000,430.000000,430.000000,429.000000,430.000000
mean,361.360092,12641.424312,2.746512,3.141860,2.658140,3.081395,2.806977,3.878788,3.872093,3.379070,3.307692,2.248837
std,249.621960,6011.769384,1.365039,1.445471,1.432837,1.446925,1.369820,1.233960,1.257115,1.410262,1.465638,1.320781
min,21.000000,10573.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,129.750000,11418.250000,1.000000,2.000000,1.000000,2.000000,2.000000,3.000000,3.000000,2.000000,2.000000,1.000000
50%,239.500000,12256.500000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,2.000000
75%,613.250000,13080.750000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,3.000000
max,722.000000,99999.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

### Extract the causal attribution Leikert scale variables

In [24]:
causatt = mcdf.loc[mcdf['baseline_e1_004'] < 10000][['subject_id','isg_no',
                'baseline_e1_004','baseline_e2_001','baseline_e2_002','baseline_e2_003','baseline_e2_004']]

print(causatt.shape)
causatt.head()

(436, 7)

,subject_id,isg_no,baseline_e1_004,baseline_e2_001,baseline_e2_002,baseline_e2_003,baseline_e2_004
0,522.0,10573.0,5.0,5.0,4.0,5.0,4.0
89,21.0,10580.0,3.0,3.0,3.0,3.0,3.0
130,22.0,10587.0,5.0,2.0,2.0,4.0,3.0
357,23.0,10636.0,3.0,5.0,5.0,5.0,4.0
579,523.0,10643.0,5.0,5.0,5.0,2.0,3.0

### Replace those pesky 9999.0 values with missing values

In [25]:
causatt.replace(9999.0, np.nan,inplace=True)

### Examine the result

In [26]:
causatt.describe()

,subject_id,isg_no,baseline_e1_004,baseline_e2_001,baseline_e2_002,baseline_e2_003,baseline_e2_004
count,436.000000,436.000000,429.000000,430.000000,430.000000,430.000000,429.000000
mean,361.360092,12641.424312,3.909091,3.532558,3.827907,4.444186,3.580420
std,249.621960,6011.769384,1.252525,1.393495,1.250888,0.984922,1.205978
min,21.000000,10573.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,129.750000,11418.250000,3.000000,3.000000,3.000000,4.000000,3.000000
50%,239.500000,12256.500000,4.000000,4.000000,4.000000,5.000000,4.000000
75%,613.250000,13080.750000,5.000000,5.000000,5.000000,5.000000,5.000000
max,722.000000,99999.000000,5.000000,5.000000,5.000000,5.000000,5.000000

### Extract the event related fear Leikert scale variables

In [27]:
erfear = mcdf.loc[mcdf['baseline_b2_002'] < 10000][['subject_id','isg_no',
                'baseline_b2_002','baseline_c2_002','baseline_d2_002']]

print(erfear.shape)
erfear.head()

(436, 5)

     subject_id   isg_no  baseline_b2_002  baseline_c2_002  baseline_d2_002
0         522.0  10573.0              5.0              1.0              1.0
89         21.0  10580.0              4.0              5.0              3.0
130        22.0  10587.0              4.0              4.0              1.0
357        23.0  10636.0              4.0              3.0              2.0
579       523.0  10643.0              1.0              1.0              1.0

### Replace those pesky 9999.0 values with missing values

In [28]:
erfear.replace(9999.0, np.nan,inplace=True)

### Examine the result

In [29]:
erfear.describe()

,subject_id,isg_no,baseline_b2_002,baseline_c2_002,baseline_d2_002
count,436.000000,436.000000,431.000000,430.000000,430.000000
mean,361.360092,12641.424312,2.858469,2.930233,2.069767
std,249.621960,6011.769384,1.582144,1.586589,1.440269
min,21.000000,10573.000000,1.000000,1.000000,1.000000
25%,129.750000,11418.250000,1.000000,1.000000,1.000000
50%,239.500000,12256.500000,3.000000,3.000000,1.000000
75%,613.250000,13080.750000,4.000000,5.000000,3.000000
max,722.000000,99999.000000,5.000000,5.000000,5.000000

In [30]:
mrg1 = pd.merge(cox_input,persver,on=['isg_no'],how="left")
mrg1.shape

(394, 16)

In [31]:
mrg2 = pd.merge(mrg1,quint,on=['isg_no'],how="left")
print(mrg2.shape)

(394, 27)

In [32]:
mrg3 = pd.merge(mrg2,causatt,on=['isg_no'],how="left")
print(mrg3.shape)

(394, 33)

In [33]:
mrg4 = pd.merge(mrg3,erfear,on=['isg_no'],how="left")
print(mrg4.shape)
mrg4.head()

(394, 37)

,isg_no,event,hours_to_event,subject_id_x,baseline_b1_001,baseline_c1_001,baseline_d1_001,baseline_b1_002,baseline_c1_002,baseline_d1_002,...,subject_id_x,baseline_e1_004,baseline_e2_001,baseline_e2_002,baseline_e2_003,baseline_e2_004,subject_id_y,baseline_b2_002,baseline_c2_002,baseline_d2_002
0,10587.0,1.0,25.616667,22.0,5.0,4.0,4.0,1.0,3.0,2.0,...,22.0,5.0,2.0,2.0,4.0,3.0,22.0,4.0,4.0,1.0
1,10636.0,1.0,25.939722,23.0,4.0,4.0,4.0,4.0,3.0,3.0,...,23.0,3.0,5.0,5.0,5.0,4.0,23.0,4.0,3.0,2.0
2,10657.0,1.0,2.983611,25.0,4.0,4.0,3.0,3.0,3.0,3.0,...,25.0,4.0,3.0,3.0,3.0,3.0,25.0,4.0,4.0,5.0
3,10664.0,0.0,2088.000000,26.0,2.0,4.0,4.0,2.0,4.0,4.0,...,26.0,4.0,3.0,2.0,3.0,3.0,26.0,2.0,2.0,1.0
4,10671.0,1.0,114.744167,27.0,3.0,3.0,1.0,3.0,3.0,2.0,...,27.0,3.0,3.0,3.0,5.0,3.0,27.0,4.0,4.0,3.0

In [34]:
mrg4.to_csv("../whosein2.csv")